<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
<div class="card text-center">
  <div class="card-header">
  <h3>Ton profil</h3>
    
  </div>

  <div class="card-body">
  <h3><%= @user.email%></h3>
    <br />
    <a href="<%= root_path %>" class="btn btn-primary">Revenir aux évènements</a>
  </div>

  <div class="card-footer text-muted">
    Compte créé le <%= @user.created_at %>
  </div>
</div>
    </div>
  </div>
</div>