<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci <%= @attendance.user.first_name %>  de t'être inscrit à un évènement!</h1>
    <p>
      Tu t'es inscrit à xxx le yyy à zzz.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur toulousebrite.herokuapp.com !
  </body>
</html>